In [1]:
db_url = "https://huggingface.co/datasets/cbdb/cbdb-sqlite/resolve/main/latest.7z?download=true"
sql_url = "https://raw.githubusercontent.com/cbdb-project/biogref_CBDB/master/create_pd.sql"
db_filename = db_url.split("/")[-1]

In [2]:
import urllib.request
import os

if os.path.isfile(db_filename):
    os.remove(db_filename)

if os.path.isfile(db_filename.split(".")[0] + ".db"):
    os.remove(db_filename.split(".")[0] + ".db")

urllib.request.urlretrieve(db_url, db_filename)

('latest.7z?download=true', <http.client.HTTPMessage at 0x7f6c2c19ee50>)

In [3]:
import requests

response = requests.get(sql_url)
sql_query = response.text

In [4]:
# Explode latest database file
!pip install pyunpack
!pip install patool
from pyunpack import Archive
Archive(db_filename).extractall(".")

Collecting pyunpack

  Downloading pyunpack-0.3-py2.py3-none-any.whl.metadata (863 bytes)

Collecting easyprocess (from pyunpack)
  Downloading EasyProcess-1.1-py3-none-any.whl.metadata (855 bytes)
Collecting entrypoint2 (from pyunpack)
  Downloading entrypoint2-1.1-py2.py3-none-any.whl.metadata (1.0 kB)
Downloading pyunpack-0.3-py2.py3-none-any.whl (4.1 kB)
Downloading EasyProcess-1.1-py3-none-any.whl (8.7 kB)

Downloading entrypoint2-1.1-py2.py3-none-any.whl (9.9 kB)

Installing collected packages: entrypoint2, easyprocess, pyunpack

Successfully installed easyprocess-1.1 entrypoint2-1.1 pyunpack-0.3

Collecting patool

  Downloading patool-2.2.0-py2.py3-none-any.whl.metadata (4.0 kB)
Downloading patool-2.2.0-py2.py3-none-any.whl (96 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 0.0/96.0 kB ? eta -:--:--

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.0/96.0 kB 5.5 MB/s eta 0:00:00

Installing collected packages: patool

Successfully installed patool-2.2.0

In [5]:
# Create connection to database
import sqlite3
import pandas as pd
global CONN
database_file = os.path.basename(db_filename).split(".")[0]+".db"
CONN = sqlite3.connect(database_file)

In [6]:
print(sql_query)

SELECT BIOG_MAIN.c_personid as person_id, BIOG_MAIN.c_name_chn as person_name,
CASE
    WHEN BIOG_MAIN.c_female= 0 THEN '男'
    WHEN BIOG_MAIN.c_female<> 0 THEN '女'
END as gender,
BIOG_MAIN.c_birthyear as born_year, BIOG_MAIN.c_deathyear as died_year, DYNASTIES.c_dynasty_chn as dynasty, ADDR_CODES.c_name_chn as jiguan
FROM BIOG_MAIN LEFT JOIN ADDR_CODES ON BIOG_MAIN.c_index_addr_id = ADDR_CODES.c_addr_id LEFT JOIN DYNASTIES ON DYNASTIES.c_dy = BIOG_MAIN.c_dy
WHERE c_personid != 0

In [7]:
data_pd = pd.read_sql_query(sql_query, CONN).drop_duplicates()
data_pd['born_year'] = data_pd['born_year'].fillna(9999).astype(int)
data_pd['died_year'] = data_pd['died_year'].fillna(9999).astype(int)
data_pd = data_pd.replace({'\",\n': ''}, regex=True).replace({'.*未詳.*': ''}, regex=True).replace(9999,'')
data_pd.fillna('')

        person_id person_name gender born_year died_year dynasty jiguan
0               1          安惇      男      1042      1104       宋
1               2          安邡      男         0         0       宋     渠江
2               3          安燾      男                           宋     開封
3               4          查道      男       955      1018       宋     休寧
4               5          查籥      男         0         0       宋     江陵
...           ...         ...    ...       ...       ...     ...    ...
535175     576608         釋道常      男                           宋
535176     576609          李奎      男                           宋
535177     576610          李奎      男                           宋
535178     576611         許宗翰      男                                 歙縣
535179     576612         陳嘉言      男                           宋     晉江

[535180 rows x 7 columns]

In [8]:
data_pd.to_csv('data.csv', index=True, index_label='primary_id')
if os.path.isfile(db_filename):
    os.remove(db_filename)

if os.path.isfile(db_filename.split(".")[0] + ".db"):
    os.remove(db_filename.split(".")[0] + ".db")